<template>
  <div class="loader-container" v-if="loading">
    <div class="fullview">
      <div class="loading-spacer"></div>
      <vue-loading
        type="spiningDubbles"
        color="#aaa"
        :size="{ width: '100px', height: '100px' }"
        >
      </vue-loading>
    </div>
  </div>
</template>

<script>
import { VueLoading } from "vue-loading-template"

export default {
  data() {
    return {};
  },
  components: {
    VueLoading
  },
  computed: {
    loading() {
      return this.$store.state.loading;
    }
  }
};
</script>

<style>
.fullview {
  width: 100%;
  height: 100%;
  background: #fefefe;
  position: fixed;
  top: 0;
  left: 0;
}
.loading-spacer {
  height: 50%;
}
</style>
