<template>
<v-app id="inspire">
  <v-navigation-drawer
    v-model="drawer"
    app
  >
    <v-list dense>
      <v-list-item v-for="(item, i) in items" :key="i" :to="item.to" router exact>
        <v-list-item-action>
          <v-icon>{{ item.icon }}</v-icon>
        </v-list-item-action>
        <v-list-item-content>
            <v-list-item-title v-text="item.title" />
        </v-list-item-content>
      </v-list-item>
    </v-list>
  </v-navigation-drawer>

  <v-app-bar
    app
    color="indigo"
    dark
  >
    <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
    <v-toolbar-title class="font-weight-bold">橋梁補修リクエスト</v-toolbar-title>
  </v-app-bar>

  <v-main>
    <v-container fluid>
      <Success />
      <Loading />
      <router-view></router-view>
    </v-container>
  </v-main>
  <v-footer
    color="indigo"
    app
  >
    <span class="white--text">&copy; {{ new Date().getFullYear() }}</span>
  </v-footer>
</v-app>
</template>

<script>
import Vue from "vue";
import VueRouter from "vue-router";
import firebase from "../plugins/firebase.js";
import store from "../store/store.js";

import Loading from "components/shared/Loading.vue";
import Success from "components/shared/Success.vue";
import UserMyPage from "components/user/UserMyPage.vue";
import UserNewPage from "components/user/UserNewPage.vue";
import UserLoginPage from "components/user/UserLoginPage.vue";
import AllReportPage from "components/home/AllReportPage.vue";
import ReportIndex from "components/report/ReportIndex.vue";
import ReportAddPage from "components/report/ReportAddPage.vue";
import ReportPage from "components/report/ReportPage.vue";
import ReportList from "components/report/ReportList.vue";

Vue.use(VueRouter);

const router = new VueRouter({
  routes: [
    { path: "/",
      component: AllReportPage
    },
    { path: "/mypage",
      name: "UserMyPage",
      component: UserMyPage,
      meta: { requiresAuth: true }
    },
    { path: "/new",
      name: "UserNewPage",
      component: UserNewPage
    },
    { path: "/login",
      name: "UserLoginPage",
      component: UserLoginPage
    },
    { path: "/report",
      name: "ReportIndex",
      component: ReportIndex
    },
    { path: "/reportadd",
      name: "ReportAddPage",
      component: ReportAddPage,
      meta: { requiresAuth: true }
    },
    { path: "/report/:id",
      name: "ReportPage",
      component: ReportPage,
      props: true
    },
    { path: "/reportlist",
      name: "ReportList",
      component: ReportList
    }
  ]
})

export default {
  data() {
    return {
      drawer: null,
    };
  },
  components: {
    Loading,
    Success
  },
  computed: {
    user() {
      return this.$store.state.currentUser;
    },
    items(){
      if (this.user){
        return [
          {
            icon: "mdi-apps",
            title: "ホーム",
            to: "/"
          },
          {
            icon: "mdi-chart-bubble",
            title: "mypage",
            to: "/mypage"
          },
          {
            icon: "mdi-chart-bubble",
            title: "あなたのレポート",
            to: "/report"
          },
          {
            icon: "mdi-chart-bubble",
            title: "レポートを投稿",
            to: "/reportadd"
          },
        ];
      } else {
        return [
          {
            icon: "mdi-apps",
            title: "ホーム",
            to: "/"
          },
          {
            icon: "mdi-chart-bubble",
            title: "新規登録",
            to: "/new"
          },
          {
            icon: "mdi-chart-bubble",
            title: "ログイン",
            to: "/login"
          }
        ];
      }
    }
  },
  router
};
</script>

<style scoped>
</style>
