<template>
  <v-row>
    <v-col cols="12" md="4">
      <h2>Login</h2>
      <form>
        <v-text-field v-model="email" :counter="30" label="email" data-vv-name="email" required></v-text-field>
        <v-text-field
          v-model="password"
          label="password"
          data-vv-name="password"
          required
          :type="show1 ? 'text' : 'password'"
          :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
          @click:append="show1 = !show1"
        ></v-text-field>
        <v-btn class="mr-4" color="primary" @click="login">ログイン</v-btn>
        <p v-if="error" class="errors">{{error}}</p>
        <div class="font-weight-black">テストユーザーとしてログインする場合は下のボタンを押してください。</div>
        <v-btn class="mr-4" color="primary" @click="testLogin">テストユーザー</v-btn>
      </form>
    </v-col>
  </v-row>
</template>

<script>
import firebase from "firebase/app"
import store from "../store/store.js";
import "firebase/auth"

export default {
  data() {
    return {
      email: "",
      password: "",
      show1: false,
      error: ""
    };
  },
  methods: {
    login() {
      this.$store.commit("setLoading", true);
      firebase
        .auth()
        .signInWithEmailAndPassword(this.email, this.password)
        .then(() => {
          this.$store.commit("setLoading", false);
          this.$store.commit("setNotice", {
            status: true,
            message: "ログインしました"
          });
          setTimeout(() => {
            this.$store.commit("setNotice",{});
          }, 2000);
          this.$router.push("/");
        })
        .catch(error => {
          console.log(error);
          this.error = (code => {
            switch (code) {
              default:
                return "※メールアドレスとパスワードをご確認ください";
            }
          })(error.code);
        });
    },
    testLogin() {
      this.$store.commit("setLoading", true);
      firebase
        .auth()
        .signInWithEmailAndPassword("test@gmail.com", "testuser")
        .then(() => {
          this.$store.commit("setLoading", false);
          this.$store.commit("setNotice", {
            status: true,
            message: "ログインしました"
          });
          setTimeout(() => {
            this.$store.commit("setNotice",{});
          }, 2000);
          this.$router.push("/");
        })
    }
  }
};
</script>

<style scoped>
.errors {
  color: red;
  margin-top: 20px;
}
</style>
