<template>
  <div>
    <h1>あなたのプロフィール</h1>
    <p class="font-weight-black">メールアドレス</p>
    <p>{{ user.email }}</p>
    <p class="font-weight-black">名前(非公開)</p>
    <v-textarea v-model="user.name" solo></v-textarea>
    <p class="font-weight-black">ニックネーム(公開)</p>
    <v-textarea v-model="user.nickname" solo></v-textarea>
    <v-btn color="primary" @click="userUpdate">更新</v-btn>
    <v-btn color="primary" @click="logOut">ログアウト</v-btn>
    <p v-if="error" class="errors">{{error}}</p>
  </div>
</template>

<script>
import firebase from "firebase/app";
import "firebase/auth";
import store from "../store/store.js";
import axios from 'axios';
axios.defaults.headers.common = {
    'X-Requested-With': 'XMLHttpRequest',
    'X-CSRF-TOKEN' : document.querySelector('meta[name="csrf-token"]').getAttribute('content')
};

export default {
  data() {
    return{
      error: ""
    }
  },
  computed: {
    user() {
      return this.$store.state.currentUser
    }
  },
  methods: {
    logOut() {
      firebase
        .auth()
        .signOut()
        .then(() => {
          this.$store.commit("setUser", null);
          this.$store.commit("setNotice", {
            status: true,
            message: "ログアウトしました"
          });
          setTimeout(() => {
            this.$store.commit("setNotice",{});
          }, 2000);
          this.$router.push({ name: 'UserLoginPage' });
        })
        .catch(error => {
          this.error = (code => {
            switch (code) {
              default:
                return "※メールアドレスとパスワードをご確認ください";
            }
          })(error.code);
        });
    },
    async userUpdate() {
      const user = {
        name: this.user.name,
        nickname: this.user.nickname
      };
      await axios.put(`/api/v1/users/${this.user.id}`, { user })
      .then(() => {
        this.$store.commit("setNotice", {
          status: true,
          message: "更新しました"
        });
        setTimeout(() => {
          this.$store.commit("setNotice",{});
        }, 2000);
        this.$router.push("/");
      })
    }
  }
};
</script>

<style>
</style>
