<template>
  <v-row>
    <v-col cols="12" md="4">
      <h2>Sign Up</h2>
      <form>
        <v-text-field v-model="name" :counter="15" label="名前(非公開)" data-vv-name="name" required></v-text-field>
        <v-text-field v-model="nickname" :counter="15" label="ニックネーム(公開)" data-vv-name="name" required></v-text-field>
        <v-text-field v-model="email" :counter="30" label="Email" data-vv-name="email" required></v-text-field>
        <v-text-field
          v-model="password"
          label="password"
          data-vv-name="password"
          required
          :type="show1 ? 'text' : 'password'"
          :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
          @click:append="show1 = !show1"
        ></v-text-field>
        <v-text-field
          v-model="passwordConfirm"
          label="passwordConfirm"
          data-vv-name="passwordConfirm"
          required
          :type="show2 ? 'text' : 'password'"
          :append-icon="show2 ? 'mdi-eye' : 'mdi-eye-off'"
          @click:append="show2 = !show2"
        ></v-text-field>
      </form>
      <v-btn color="primary" class="mr-4" @click="signup">登録</v-btn>
      <p v-if="error" class="errors">{{error}}</p>
      <div class="font-weight-black">テストユーザーとしてログインする場合は下のボタンを押してください。</div>
      <v-btn class="mr-4"　color="primary" @click="testLogin">テストユーザー</v-btn>
    </v-col>
  </v-row>
</template>

<script>
import firebase from "firebase/app";
import "firebase/auth";
import store from "../store/store.js";
import axios from 'axios';

export default {
  data() {
    return {
      email: "",
      name: "",
      nickname: "",
      password: "",
      passwordConfirm: "",
      show1: false,
      show2: false,
      error: ""
    };
  },
  methods: {
   signup() {
      if (this.password !== this.passwordConfirm) {
        this.error = "※パスワードとパスワード確認が一致していません";
      }
      this.$store.commit("setLoading", true);
      firebase
        .auth()
        .createUserWithEmailAndPassword(this.email, this.password)
          .then(res => {
            const user = {
              email: res.user.email,
              name: this.name,
              nickname: this.nickname,
              uid: res.user.uid
            };
            axios.post("/api/v1/users",{ user }).then(() => {
              this.$store.commit("setLoading", false);
              this.$store.commit("setUser", res.data);
              this.$router.push("/");
            });
         })
        .catch(error => {
          this.error = (code => {
            switch (code) {
              case "auth/email-already-in-use":
                return "既にそのメールアドレスは使われています";
              case "auth/wrong-password":
                return "※パスワードが正しくありません";
              case "auth/weak-password":
                return "※パスワードは最低6文字以上にしてください";
              default:
                return "※メールアドレスとパスワードをご確認ください";
            }
          })(error.code);
        });
    },
    testLogin() {
      this.$store.commit("setLoading", true);
      firebase
        .auth()
        .signInWithEmailAndPassword("test@gmail.com", "testuser")
        .then(() => {
          this.$store.commit("setLoading", false);
          this.$store.commit("setNotice", {
            status: true,
            message: "ログインしました"
          });
          setTimeout(() => {
            this.$store.commit("setNotice",{});
          }, 2000);
          this.$router.push("/");
        })
    }
  }
};
</script>

<style scoped>
.errors {
  color: red;
  margin-top: 20px;
}
</style>
