<template>
  <div v-if="user">
    <h1>レポートを投稿</h1>
    <span class="red--text">
      事故につながるなど緊急を要する情報は、電話などで直接市役所・公共機関へご連絡ください。
    </span>
      <p class="font-weight-black">位置</p>
      <div id=mapid style="width: 100%;height: 350px;z-index: 2;">
      </div>
      <p>
        緯度<input type="text" id="lat_input" required/><br>
        経度<input type="text" id="lng_input" required/><br>
      </p>
      <v-container>
        <label>
          <p>クリックで画像を変更できます</p>
          <img :src="avatar" alt="Avatar" class="image">
          <div>
            <input
            type="file"
            id="avatar_name"
            accept="image/jpeg, image/png"
            @change="onImageChange"
            />
          </div>
        </label>
        <v-form>
          <p class="font-weight-black mt-5 mb-0">タイトル</p>
          <v-text-field v-model="title" placeholder="何がどうなっている?" required></v-text-field>
          <p class="font-weight-black mt-5 mb-0">場所</p>
          <v-text-field v-model="region" placeholder="例：青森県青森市　青森ベイブリッジ" required></v-text-field>
          <p class="font-weight-black">詳細</p>
          <v-textarea v-model="content" rows="10" placeholder="現場の説明、本来あるべき状態 など" required></v-textarea>
        </v-form>
        <v-col cols="12" md="4" class="my-2">
          <v-btn color="primary" @click="handleSubmit">投稿</v-btn>
          <p v-if="error" class="errors">{{error}}</p>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import L from "leaflet";
import axios from "axios";

export default {
  data() {
    return {
      title: "",
      content: "",
      address_lat: "",
      address_lng: "",
      image: "",
      avatar: "",
      region: "",
      message: "",
      error: ""
    };
  },
  computed:{
    user() {
      return this.$store.state.currentUser;
    }
  },
  mounted() {
    const map =  L.map( "mapid", {
      center: L.latLng( 35.68101270213683, 139.76721882820132 ),
      zoom: 15
    }).addLayer(
      L.tileLayer( 'http://{s}.tile.osm.org/{z}/{x}/{y}.png' )
    )
    this.icon1 = L.icon({iconUrl: "/img/default_red_exclamation.png",　iconSize: [40, 48], iconAnchor: [20, 48] })
    var crossMarker = L.marker( map.getCenter(),{icon:this.icon1, zIndexOffset:1000, interactive:false}).addTo(map);
    map.on("move", function(e) {
      crossMarker.setLatLng(map.getCenter());
      var pos = map.getCenter();
      document.getElementById("lat_input").value = pos.lat;
      document.getElementById("lng_input").value = pos.lng;
    });
  },
  methods: {
    getBase64 (file) {
      return new Promise((resolve, reject) => {
        const reader = new FileReader()
        reader.readAsDataURL(file)
        reader.onload = () => resolve(reader.result)
        reader.onerror = error => reject(error)
      })
    },
    onImageChange (e) {
      const images = e.target.files || e.dataTransfer.files
      this.getBase64(images[0])
        .then(image => {
          const originalImg = new Image()
          originalImg.src = image
          originalImg.onload = () => {
            const resizedCanvas = this.createResizedCanvasElement(originalImg)
            const resizedBase64 = resizedCanvas.toDataURL(images[0].type)
            this.avatar = resizedBase64
          }
        })
        .catch(error => this.setError(error, "画像のアップロードに失敗しました。"))
    },
    createResizedCanvasElement (originalImg) {
      const originalImgWidth = originalImg.width
      const orifinalImgHeight = originalImg.height
      const [resizedWidth, resizedHeight] = this.resizeWidthAndHeight(originalImgWidth, orifinalImgHeight)
      const canvas = document.createElement("canvas")
      const ctx = canvas.getContext("2d")
      canvas.width = resizedWidth
      canvas.height = resizedHeight
      ctx.drawImage(originalImg, 0, 0, resizedWidth, resizedHeight)
      return canvas
    },
    resizeWidthAndHeight (width, height) {
      const MAX_WIDTH = 400
      const MAX_HEIGHT = 400
      if (width > height) {
        if (width > MAX_WIDTH) {
          height *= MAX_WIDTH / width
          width = MAX_WIDTH
        }
      } else {
        if (height > MAX_HEIGHT) {
          width *= MAX_HEIGHT / height
          height = MAX_HEIGHT
        }
      }
      return [width, height]
    },
    async handleSubmit() {
      this.$store.commit("setLoading", true);
      const report = {
        title: this.title,
        content: this.content,
        address_lat: lat_input.value,
        address_lng: lng_input.value,
        user_id: this.user.id,
        image: this.avatar,
        region: this.region,
        solve: 0
      };
      await axios.post("/api/v1/reports", { report })
      .then(() => {
        this.$store.commit("setLoading", false);
        this.$store.commit("setNotice", {
          status: true,
          message: "投稿しました"
        });
        setTimeout(() => {
          this.$store.commit("setNotice",{});
        }, 2000);
        this.$router.push("/");
      })
      .catch(error => {
        console.log(error);
        this.error = (code => {
          switch (code) {
            default:
              return "※投稿をご確認ください";
          }
        })(error.code);
      });
    }
  }
};
</script>

<style>
</style>
