<template>
  <v-card>
    <v-card-title>あなたのレポート</v-card-title>
    <v-card outlined>
      <v-row　v-for="report in reports" :key="report.id">
        <v-col>
          <div>
            <img v-bind:src="statusIcon(report)" />
            <span>
              投稿
              </span>
            <router-link :to="{ name: 'ReportPage', params: { id: report.id } }">{{ report.title }}</router-link>
          </div>
          <div>場所:{{ report.region }}</div>
          <div>{{ report.created_at | moment }}</div>
          <div>
            <v-icon>mdi-account</v-icon>{{ report.username }}<br>
            <v-btn small color="primary" @click="deleteItem(report)">削除</v-btn>
          </div>
        </v-col>
        <v-col>
          <img v-bind:src="report.image.url" />
        </v-col>
      </v-row>
    </v-card>
  </v-card>
</template>

<script>
import axios from "axios";
import moment from "moment";
axios.defaults.headers.common = {
    "X-Requested-With": "XMLHttpRequest",
    "X-CSRF-TOKEN" : document.querySelector('meta[name="csrf-token"]').getAttribute("content")
};

export default {
  props: ["reports"],
  data() {
    return {
      singleSelect: true,
      selected: []
    };
  },
  computed: {
    user() {
      return this.$store.state.currentUser;
    }
  },
  filters: {
    moment: function (date) {
      return moment(date).format("YYYY/MM/DD HH:mm");
    }
  },
  methods: {
    async deleteItem(report) {
      const res = confirm("本当に削除しますか？");
      if (res) {
        await axios.delete(`/api/v1/reports/${report.id}`)
        .then(() => {
          this.$store.commit("setNotice", {
            status: true,
            message: "削除しました"
          });
          setTimeout(() => {
            this.$store.commit("setNotice",{});
          }, 2000);
          this.$router.push("/");
        })
      }
    },
    statusIcon(report) {
      if(report.solve == 0){
        return "/img/default_red_exclamation.png"
      }else if(report.solve == 1){
        return "/img/default_yellow_arrow.png"
      }else{
        return "/img/default_blue_check.png"
      }
    }
  }
}
</script>

<style>
</style>
