<template>
  <div v-if="user">
    <ReportList :reports="user.reports" />
  </div>
</template>

<script>
import ReportList from "components/report/ReportList.vue";
import axios from "axios";

export default {
  components: {
    ReportList
  },
  computed: {
    user() {
      return this.$store.state.currentUser;
    }
  },
  methods: {
    async ReportForm(report) {
      const { data } = await axios.post("/api/v1/reports", { report });
      this.$store.commit("setUser", {
        ...this.user,
        reports: [...this.user.reports, data]
      });
    }
  }
};
</script>

<style>
</style>
