<template>
  <div>
    <h1>{{ report.title}}</h1>
    <div id=mapid style="width: 100%;height: 350px;z-index: 2;">
    </div>
    <v-btn　depressed small color="primary" @click="getReports">マップを更新</v-btn>
    <div>
      緯度:<span ref="lat_number">{{ report.address_lat }}</span>
    </div>
    <div>
      経度:<span ref="lng_number">{{ report.address_lng }}</span>
    </div>
    <div>解決前写真</div>
    <img v-bind:src="report.image.url" />
    <div>場所:{{ report.region }}</div>
    <h2>内容:<div class="font-weight-black">{{ report.content }}</div></h2>
    <div>{{ report.created_at | moment }}</div>
    <div><v-icon>mdi-account</v-icon>{{ report.username }}</div>
    <h2 style="margin-top:45px">コメント</h2>
    <div v-for="comment in comments" :key="comment.id" style="margin-bottom: 25px">
      <div style="font-size:medium">{{ comment.content }}</div>
      <div>{{ comment.created_at | moment }}</div>
      <div><v-icon>mdi-account</v-icon>{{ comment.username }}</div>
    </div>
    <v-container>
      <v-textarea v-model="comment_content" rows="5" placeholder="コメント" solo required></v-textarea>
      <div>ステータス</div>
      <v-col class="d-flex" cols="12" sm="6">
        <v-select
          v-model="selectedStatus"
          :items="status"
        ></v-select>
      </v-col>
      <v-col cols="12" md="4">
        <v-btn color="primary" @click="handleSubmit">投稿</v-btn>
      </v-col>
      <p v-if="error" class="errors">{{error}}</p>
    </v-container>
  </div>
</template>

<script>
import axios from "axios";
import moment from "moment";
import  L from "leaflet";
axios.defaults.headers.common = {
    "X-Requested-With": "XMLHttpRequest",
    "X-CSRF-TOKEN" : document.querySelector('meta[name="csrf-token"]').getAttribute("content")
};

export default {
  props: ["id"],
  data(){
    return {
      selectedStatus: { text: "未確認", value: 0},
      status: [
        { text: "未確認", value: 0},
        { text: "確認中", value: 1},
        { text: "解決済", value: 2}
      ],
      report: [],
      comments: [],
      comment_content: "",
      report_id: "",
      error: ""
    }
  },
  filters: {
    moment: function (date) {
      return moment(date).format("YYYY/MM/DD HH:mm");
    }
  },
  computed: {
    user() {
      return this.$store.state.currentUser
    }
  },
  created() {
    this.getReports();
    this.getComments();
  },
  beforeUpdate() {
    const map =  L.map( "mapid", {
      center: L.latLng( this.report.address_lat, this.report.address_lng ),
      zoom: 17
    }).addLayer(
      L.tileLayer( 'http://{s}.tile.osm.org/{z}/{x}/{y}.png' )
    )
    if(this.report.solve == 0){
      this.icon1 = L.icon({iconUrl: "/img/default_red_exclamation.png",　iconSize: [40, 48], iconAnchor: [20, 48] })
      var crossMarker = L.marker( [this.report.address_lat, this.report.address_lng], {icon:this.icon1, zIndexOffset:200, interactive:false}).addTo(map);
    }else if(this.report.solve == 1){
      this.icon2 = L.icon({iconUrl: "/img/default_yellow_arrow.png",　iconSize: [40, 48], iconAnchor: [20, 48] })
      var crossMarker = L.marker( [this.report.address_lat, this.report.address_lng], {icon:this.icon2, zIndexOffset:200, interactive:false}).addTo(map);
    }else{
      this.icon3 = L.icon({iconUrl: "/img/default_blue_check.png",　iconSize: [40, 48], iconAnchor: [20, 48] })
      var crossMarker = L.marker( [this.report.address_lat, this.report.address_lng], {icon:this.icon3, zIndexOffset:200, interactive:false}).addTo(map);
    }
  },
  methods: {
    getReports() {
      axios
      .get(`/api/v1/reports/${this.$route.params.id}`)
      .then(response => (this.report = response.data))
    },
    getComments() {
      axios
        .get("/api/v1/comments.json", {
          params: { report_id: this.$route.params.id }
        })
        .then(response => (this.comments = response.data))
    },
    async handleSubmit() {
      const comment = {
        content: this.comment_content,
        user_id: this.user.id,
        report_id: this.report.id
      };
      const report = {
        solve: this.selectedStatus
      };
      const { data } = await axios.post("/api/v1/comments", { comment });
      axios.put(`/api/v1/reports/${this.$route.params.id}`, { report })
      .then(() => {
        this.$store.commit("setNotice", {
          status: true,
          message: "コメントしました"
        });
        setTimeout(() => {
          this.$store.commit("setNotice",{});
        }, 2000);
        this.$router.push("/");
      })
      .catch(error => {
        console.log(error);
        this.error = (code => {
          switch (code) {
            default:
              return "※投稿をご確認ください";
          }
        })(error.code);
      });
    }
  }
};
</script>

<style>
</style>
