<template>
  <div>
    <div v-if="errors.length != 0">
      <ul v-for="e in errors" :key="e">
        <li><font color="red">{{ e }}</font></li>
      </ul>
    </div>
    <v-card>
      <AboutPage />
    </v-card>
    <v-row>
      <v-col>
        <v-card>
          <v-card-title>最近のレポート</v-card-title>
          <v-card outlined>
            <v-row　v-for="report in reports" :key="report.id">
              <v-col>
                <div>
                  <img v-bind:src="statusIcon(report)" />
                  <span>
                    投稿
                    </span>
                  <router-link :to="{ name: 'ReportPage', params: { id: report.id } }">{{ report.title }}</router-link>
                </div>
                <div>場所:{{ report.region }}</div>
                <div>{{ report.created_at | moment }}</div>
                <div>
                  <v-icon>mdi-account</v-icon>{{ report.username }}
                </div>
              </v-col>
              <v-col>
                <img v-bind:src="report.image.url" width="160px" height="160px" />
              </v-col>
            </v-row>
          </v-card>
          <div class="text-center">
            <v-pagination
              v-model="page"
              :length="totalPages"
              @input="getReports"
            ></v-pagination>
          </div>
        </v-card>
      </v-col>
      <v-col>
        <v-card>
          <v-card-title>解決済のレポート</v-card-title>
          <v-card outlined>
            <v-row　v-for="solve_report in solve_reports" :key="solve_report.id">
              <v-col>
                <div>
                  <img v-bind:src="statusIcon(solve_report)" />
                  <span>
                    投稿
                  </span>
                  <router-link :to="{ name: 'ReportPage', params: { id: solve_report.id } }">{{ solve_report.title }}</router-link>
                </div>
                <div>場所:{{ solve_report.region }}</div>
                <div>{{ solve_report.created_at | moment }}</div>
                <div>
                  <v-icon>mdi-account</v-icon>{{ solve_report.username }}
                </div>
              </v-col>
              <v-col>
                <img v-bind:src="solve_report.image.url" width="160px" height="160px" />
              </v-col>
            </v-row>
          </v-card>
          <div class="text-center">
            <v-pagination
              v-model="solve_page"
              :length="solve_total_pages"
              @input="getSolveReports"
            ></v-pagination>
          </div>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import axios from "axios";
import moment from "moment";
import AboutPage from "components/home/AboutPage.vue";

export default {
  components: {
    AboutPage
  },
  data() {
    return {
      page: 1,
      totalPages: null,
      reports: [],
      solve_page: 1,
      solve_total_pages: null,
      solve_reports: [],
      errors: ""
    }
  },
  filters: {
    moment: function (date) {
      return moment(date).format("YYYY/MM/DD HH:mm");
    }
  },
  created () {
    this.getReports(this.page);
    this.getSolveReports(this.solve_page);
  },
  methods: {
    getReports(page) {
      axios.get("/api/v1/reports", {
        params: {
          page: parseInt(page)
        },
      })
      .then((response) => {
        this.reports = response.data.reports
        this.totalPages = response.data.meta.total_pages
      })
      .catch((err) => {
        console.log(err)
      })
    },
    getSolveReports(solve_page) {
      axios.get("/api/v1/reports", {
        params: {
          solve_page: parseInt(solve_page),
          solve: 2
        },
      })
      .then((response) => {
        this.solve_reports = response.data.reports
        this.solve_total_pages = response.data.meta.solve_total_pages
      })
      .catch((err) => {
        console.log(err)
      })
    },
    statusIcon(report) {
      if(report.solve == 0){
        return "/img/default_red_exclamation.png"
      }else if(report.solve == 1){
        return "/img/default_yellow_arrow.png"
      }else{
        return "/img/default_blue_check.png"
      }
    }
  }
}
</script>

<style scoped>
</style>
